<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip.install" title="7-Zip (Install)" projecturl="http://www.7-zip.org/" summary="7-Zip is a file archiver with a high compression ratio." />
    <package id="advanced-renamer" title="Advanced Renamer" projecturl="http://www.advancedrenamer.com/" summary="Advanced Renamer is a free program for renaming multiple files and folders at once. By configuring renaming methods the names can be manipulated in various ways." />
    <package id="advanced-renamer.install" title="Advanced Renamer (Install)" projecturl="http://www.advancedrenamer.com/" summary="Advanced Renamer is a free program for renaming multiple files and folders at once. By configuring renaming methods the names can be manipulated in various ways." />
    <package id="audacity" title="Audacity" projecturl="http://audacityteam.org/" summary="Audacity is free, open source, cross-platform software for recording and editing sounds." />
    <package id="audacity-lame" title="LAME for Audacity" projecturl="http://lame.sourceforge.net/index.php" summary="LAME MP3 Encoder for Audacity" />
    <package id="autohotkey.portable" title="AutoHotkey (Portable)" projecturl="http://ahkscript.org/" summary="AutoHotkey is a free, open source macro-creation and automation software utility that allows users to automate repetitive tasks. It is driven by a custom scripting language that is aimed specifically at providing keyboard shortcuts, otherwise known as hotkeys." />
    <package id="avidemux" title="Avidemux" projecturl="http://avidemux.sourceforge.net/" summary="Video editor" />
    <package id="awscli" title="AWS Command Line Interface (Install)" projecturl="https://aws.amazon.com/cli/" summary="The AWS CLI is an open source tool built on top of the AWS SDK for Python (Boto) that provides commands for interacting with AWS services." />
    <package id="baretail" title="BareTail" projecturl="http://www.baremetalsoft.com/baretail/index.php" summary="Baretail - A free real-time log file monitoring tool" />
    <package id="BatteryBar" title="BatteryBar (Install)" projecturl="https://batterybarpro.com/" summary="BatteryBar is a small but powerful battery meter for Windows.  Very similar to Lenovo's battery gauge application." />
    <package id="bluescreenview.portable" title="BlueScreenView (Portable)" projecturl="http://www.nirsoft.net/utils/blue_screen_view.html" summary="Blue screen of death (STOP error) information in dump files" />
    <package id="bulkrenameutility" title="Bulk Rename Utility" projecturl="http://www.bulkrenameutility.co.uk/" summary="Rename multiple files quickly with previews and undo" />
    <package id="bulkrenameutility.install" title="Bulk Rename Utility (Install)" projecturl="http://www.bulkrenameutility.co.uk/" summary="Rename multiple files quickly with previews and undo" />
    <package id="choco-package-list-backup" title="(unofficial) Choco Package List Backup to Local and Cloud (Script + Task)" projecturl="https://github.com/bcurran3/ChocolateyPackages/blob/master/choco-package-list-backup" summary="(unofficial) Choco Package List Backup to Cloud and Local - a PowerShell script to backup your Chocolatey packages list for easy re-installation" />
    <package id="chocolatey" title="Chocolatey" projecturl="https://github.com/chocolatey/choco" summary="Chocolatey is the package manager for Windows (like apt-get but for Windows)" />
    <package id="chocolatey-core.extension" title="Chocolatey Core Extensions" projecturl="https://github.com/chocolatey/chocolatey-coreteampackages" summary="Helper functions extending core choco functionality" />
    <package id="chocolatey-windowsupdate.extension" title="Chocolatey Windows Update extensions" projecturl="https://github.com/jberezanski/ChocolateyPackages/tree/master/chocolatey-windowsupdate.extension" summary="Helper functions useful for developing packages for Windows updates (KBs)." />
    <package id="chocolateygui" title="Chocolatey GUI" projecturl="https://github.com/chocolatey/ChocolateyGUI" summary="A GUI for Chocolatey" />
    <package id="cropper" title="Cropper" projecturl="https://cropper.codeplex.com/" summary="Point and shoot screen captures." />
    <package id="desktopok" title="DesktopOK" projecturl="http://www.softwareok.com/?seite=Freeware/DesktopOK" summary="· Features:&#xA;· Save your favorite icon locations for each screen resolution. &#xA;· Each user can then have his own arrangement.&#xA;· Automatically hide and display desktop icons&#xA;· Minimises to tray area" />
    <package id="DotNet4.5.2" title="Dot Net 4.5.2" projecturl="http://www.microsoft.com/en-au/download/details.aspx?id=42642" summary="The Microsoft .NET Framework 4.5.2" />
    <package id="DotNet4.6.1" title="Microsoft .NET Framework 4.6.1" projecturl="https://msdn.microsoft.com/en-us/library/w0x726c2(v=vs.110).aspx" summary="Microsoft .NET Framework 4.6.1" />
    <package id="dotnet4.6.2" title="Microsoft .NET Framework 4.6.2" projecturl="https://blogs.msdn.microsoft.com/dotnet/2016/08/02/announcing-net-framework-4-6-2/" summary="The Microsoft .NET Framework 4.6.2 is a highly compatible in-place update to the Microsoft .NET Framework 4, the .NET Framework 4.5, the .NET Framework 4.5.1, the .NET Framework 4.5.2, the .NET Framework 4.6, and the .NET Framework 4.6.1." />
    <package id="dotnet4.7.1" title="Microsoft .NET Framework 4.7.1" projecturl="https://blogs.msdn.microsoft.com/dotnet/2017/10/17/announcing-the-net-framework-4-7-1/" summary="The Microsoft .NET Framework 4.7.1 is a highly compatible, in-place update to the Microsoft .NET Framework 4, 4.5, 4.5.1, 4.5.2, 4.6, 4.6.1, 4.6.2, and 4.7." />
    <package id="dropbox" title="Dropbox" projecturl="https://www.dropbox.com/" summary="Dropbox is a free service that lets you bring all your photos, docs, and videos anywhere." />
    <package id="dropit" title="DropIt" projecturl="http://www.dropitproject.com/" summary="Flexible tool to automate processing and organizing files and folders" />
    <package id="dropit.install" title="DropIt (Install)" projecturl="http://www.dropitproject.com/" summary="Flexible tool to automate processing and organizing files and folders" />
    <package id="eac" title="Exact Audio Copy" projecturl="http://www.exactaudiocopy.de/" summary="Exact Audio Copy is a audio grabber for audio CDs using standard CD and DVD-ROM drives" />
    <package id="exiftool" title="ExifTool" projecturl="http://owl.phy.queensu.ca/~phil/exiftool/" summary="Read, write and edit metadata" />
    <package id="fiddler" title="Telerik Fiddler Web Debugger" projecturl="https://www.telerik.com/fiddler" summary="The free web debugging proxy for any browser, system or platform." />
    <package id="foxitreader" title="Foxit Reader" projecturl="http://foxitsoftware.com/Secure_PDF_Reader/" summary="Foxit Reader: The Best PDF Reader" />
    <package id="freac" title="fre:ac - free audio converter (Portable)" projecturl="https://www.freac.org/" summary="fre:ac is a free audio converter and CD ripper with support for various popular formats and encoders." />
    <package id="git.install" title="Git (Install)" projecturl="https://git-for-windows.github.io/" summary="Git for Windows offers a native set of tools that bring the full feature set of the Git SCM to Windows" />
    <package id="google-backup-and-sync" title="Google Backup and Sync (Install)" projecturl="https://www.blog.google/products/photos/introducing-backup-and-sync-google-photos-and-google-drive/" summary="Google Backup and Sync - Automatically back up photos from your Mac or PC, connected cameras and SD cards" />
    <package id="handbrake.install" title="HandBrake (Install)" projecturl="http://handbrake.fr/" summary="HandBrake is a tool for converting video from nearly any format to a selection of modern, widely supported codecs." />
    <package id="InkScape" title="Inkscape" projecturl="https://inkscape.org/" summary="An Open Source vector graphics editor, with capabilities similar to Illustrator, CorelDraw, or Xara X, using the W3C standard Scalable Vector Graphics (SVG) file format." />
    <package id="instchoco" title="(unofficial) InstChoco (Portable)" projecturl="https://github.com/bcurran3/ChocolateyPackages/tree/master/InstChoco" summary="InstChoco - The ULTIMATE Chocolatey and Chocolatey packages (re)installer!" />
    <package id="javaruntime" title="Java Runtime (JRE)" projecturl="http://www.java.com/" summary="" />
    <package id="jre8" title="Java SE Runtime Environment" projecturl="http://www.java.com/" summary="" />
    <package id="KB2670838" title="Platform update for Windows 7 SP1 and Windows Server 2008 R2 SP1" projecturl="https://support.microsoft.com/en-us/kb/2670838" summary="This update improves the range and performance of the graphics and imaging components" />
    <package id="KB2919355" title="Windows RT 8.1, Windows 8.1, and Windows Server 2012 R2 update: April 2014 (KB2919355)" projecturl="https://support.microsoft.com/en-us/kb/2919355" summary="This update is a cumulative update that includes the security updates and the non-security updates for Windows RT 8.1, Windows 8.1, and Windows Server 2012 R2 that were released before March 2014." />
    <package id="KB2919442" title="March 2014 servicing stack update for Windows 8.1 and Windows Server 2012 R2 (KB2919442)" projecturl="https://support.microsoft.com/en-us/kb/2919442" summary="The update fixes some issues in the servicing stack of Windows 8.1 and Windows Server 2012 R2." />
    <package id="KB2999226" title="Update for Universal C Runtime in Windows (KB2999226)" projecturl="https://support.microsoft.com/en-us/kb/2999226" summary="Update for Universal C Runtime (CRT) in Windows. Before you install this update, check out the prerequisites section." />
    <package id="KB3033929" title="Microsoft security advisory: Availability of SHA-2 code signing support for Windows 7 and Windows Server 2008 R2: March 10, 2015" projecturl="https://support.microsoft.com/en-us/kb/3033929" summary="The update adds SHA-2 hashing algorithm signing and verification support to Windows 7 and Windows Server 2008 R2" />
    <package id="KB3035131" title="Security update for Windows kernel: March 10, 2015" projecturl="https://support.microsoft.com/en-us/kb/3035131" summary="This security update resolves privately reported vulnerabilities in Windows." />
    <package id="kindle" title="Kindle for PC" projecturl="https://www.amazon.com/gp/digital/fiona/kcp-landing-page" summary="Read Everywhere with our Free Reading Apps" />
    <package id="kodi" title="Kodi" projecturl="https://kodi.tv/" summary="Kodi is an award-winning free and open source (GPL) software media player and entertainment hub for digital media." />
    <package id="krita" title="Krita" projecturl="https://krita.org/" summary="Krita is a sketching and painting program designed for digital artists." />
    <package id="lame" title="LAME" projecturl="http://lame.sourceforge.net/index.php" summary="LAME MP3 Encoder - rarewares.org build" />
    <package id="lamexp" title="LameXP (Install)" projecturl="http://muldersoft.com/#lamexp" summary="Audio Encoder Front-End for LAME MP3, Ogg Vorbis, Opus, FLAC, MP4/AAC and many more" />
    <package id="logexpert" title="LogExpert" projecturl="https://github.com/zarunbal/LogExpert" summary="LogExpert is log file viewing for the Pros." />
    <package id="mediamonkey" title="Mediamonkey (Install)" projecturl="https://www.mediamonkey.com/" summary="Mediamonkey" />
    <package id="mousewithoutborders" title="Mouse Without Borders" projecturl="http://www.microsoft.com/en-us/download/details.aspx?id=35460" summary="Mouse without Borders is a project that allows you to reach across your PCs as if they were part of one single desktop." />
    <package id="mp3tag" title="Mp3tag" projecturl="http://www.mp3tag.de/en/index.html" summary="Mp3tag is a powerful and yet easy-to-use tool to edit metadata of common audio formats." />
    <package id="notepadplusplus" title="Notepad++" projecturl="https://notepad-plus-plus.org/" summary="Notepad++ is a free (as in &quot;free speech&quot; and also as in &quot;free beer&quot;) source code editor and Notepad replacement that supports several languages." />
    <package id="notepadplusplus.install" title="Notepad++ (Install)" projecturl="https://notepad-plus-plus.org/" summary="Notepad++ is a free (as in &quot;free speech&quot; and also as in &quot;free beer&quot;) source code editor and Notepad replacement that supports several languages." />
    <package id="NugetPackageExplorer" title="NuGet Package Explorer" projecturl="https://github.com/NuGetPackageExplorer/NuGetPackageExplorer" summary="Makes creating and examining nuget packages very easy." />
    <package id="paint.net" title="Paint.NET" projecturl="http://www.getpaint.net/" summary="Paint.NET is image and photo manipulation software designed to be used on computers that run Windows." />
    <package id="PDFCreator" title="PDF Creator" projecturl="http://www.pdfforge.org/" summary="PDFCreator - PDFCreator easily creates PDFs from any Windows program." />
    <package id="procexp" title="Process Explorer" projecturl="https://technet.microsoft.com/en-us/sysinternals/processexplorer" summary="Process Explorer shows you information about which handles and DLLs processes have opened or loaded." />
    <package id="procmon" title="Process Monitor" projecturl="https://technet.microsoft.com/en-us/sysinternals/processmonitor" summary="Process Monitor is an advanced monitoring tool for Windows" />
    <package id="putty" title="PuTTY" projecturl="http://www.chiark.greenend.org.uk/~sgtatham/putty/" summary="PuTTY is a free implementation of Telnet and SSH for Windows and Unix platforms, along with an xterm terminal emulator." />
    <package id="putty.install" title="PuTTY (Install)" projecturl="http://www.chiark.greenend.org.uk/~sgtatham/putty/" summary="PuTTY is a free implementation of Telnet and SSH for Windows and Unix platforms, along with an xterm terminal emulator." />
    <package id="putty.portable" title="PuTTY (Portable)" projecturl="http://www.chiark.greenend.org.uk/~sgtatham/putty/" summary="PuTTY is a free implementation of Telnet and SSH for Windows and Unix platforms, along with an xterm terminal emulator." />
    <package id="python3" title="Python 3.x" projecturl="http://www.python.org/" summary="Python 3.x is a programming language that lets you work more quickly and integrate your systems more effectively. You can learn to use Python 3.x and see almost immediate gains in productivity and lower maintenance costs." />
    <package id="rawtherapee" title="RawTherapee" projecturl="http://rawtherapee.com/" summary="RawTherapee is a cross-platform raw image processing program." />
    <package id="sendtokindle" title="Send to Kindle" projecturl="http://www.amazon.com/gp/sendtokindle/pc/" summary="Reading your personal documents on a Kindle has never been easier" />
    <package id="sketchup" title="SketchUp Make/Pro" projecturl="https://www.sketchup.com/products/sketchup-make" summary="Design, document and communicate your ideas in 3D." />
    <package id="skyfonts" title="SkyFonts" projecturl="http://skyfonts.com/" summary="SkyFonts allows you to install fonts from participating sites such as google fonts and keep them up to date" />
    <package id="snaketail" title="SnakeTail" projecturl="http://snakenest.com/snaketail/" summary="SnakeTail is a Windows tail program that can monitor growing log files." />
    <package id="snaketail.install" title="SnakeTail (Install)" projecturl="http://snakenest.com/snaketail/" summary="SnakeTail is a Windows tail program that can monitor growing log files." />
    <package id="spacesniffer" title="Space Sniffer" projecturl="http://www.uderzo.it/main_products/space_sniffer/index.html" summary="Find lost space on your disks the easy way." />
    <package id="superputty" title="SuperPutty" projecturl="https://www.facebook.com/superputty" summary="Telnet/SSH/SCP/SFTP client with tabs using PuTTY" />
    <package id="superputty.install" title="SuperPutty (Install)" projecturl="https://www.facebook.com/superputty" summary="Telnet/SSH/SCP/SFTP client with tabs using PuTTY" />
    <package id="sweet-home-3d" title="Sweet Home 3D" projecturl="http://www.sweethome3d.com/" summary="Sweet Home 3D is a free interior design application that helps you draw the plan of your house, arrange furniture on it and visit the results in 3D." />
    <package id="testdisk-photorec" title="TestDisk and PhotoRec" projecturl="http://www.cgsecurity.org/wiki/TestDisk" summary="Data recovery software" />
    <package id="ultrasearch" title="UltraSearch" projecturl="https://www.jam-software.de/ultrasearch/" summary="UltraSearch searches files and folders on local NTFS drives and provides the results within just a few seconds." />
    <package id="vcredist140" title="Microsoft Visual C++ Redistributable for Visual Studio 2017" projecturl="https://blogs.msdn.microsoft.com/visualstudio/2017/03/07/announcing-visual-studio-2017-general-availability-and-more/" summary="Run-time components that are required to run C++ applications that are built by using Visual Studio 2017" />
    <package id="vcredist2015" title="Microsoft Visual C++ Redistributable for Visual Studio 2015 Update 3 (with hotfix 2016-09-14)" projecturl="https://blogs.msdn.microsoft.com/vcblog/2016/06/28/visual-studio-2015-update-3-available-now/" summary="Run-time components that are required to run C++ applications that are built by using Visual Studio 2015 Update 3" />
    <package id="visualstudiocode" title="[Deprecated] Visual Studio Code" projecturl="https://code.visualstudio.com/" summary="Visual Studio Code" />
    <package id="vlc" title="VLC media player" projecturl="http://www.videolan.org/vlc/" summary="VLC Media Player" />
    <package id="vscode" title="Visual Studio Code" projecturl="https://code.visualstudio.com/" summary="Visual Studio Code" />
    <package id="vscode-powershell" title="Visual Studio Code PowerShell Extension" projecturl="https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell" summary="PowerShell Language Support for Visual Studio Code" />
    <package id="wincrashreport" title="WinCrashReport" projecturl="http://www.nirsoft.net/utils/application_crash_report.html" summary="Displays a report about crashed Windows application" />
    <package id="winmerge" title="winmerge" projecturl="http://winmerge.org/" summary="winmerge" />
    <package id="wireshark" title="Wireshark" projecturl="http://www.wireshark.org/" summary="Wireshark" />
    <package id="wiztree" title="WizTree" projecturl="http://antibody-software.com/web/software/software/wiztree-finds-the-files-and-folders-using-the-most-disk-space-on-your-hard-drive/" summary="Find the files and folders using the most space on your hard drive - QUICKLY!" />
</packages>